<div ng-controller='productController'>
	<div id='left_bar'>
		<h3>Add a new product</h3>
		
		<form>
			Product Name: <br><input type="text" ng-model='product.name' placeholder="name..."><br>
			Image URL: <br><input type="text" ng-model='product.image' placeholder="image..."><br>
			Description: <br><textarea ng-model='product.description' placeholder='description is optional...'></textarea><br>
			Initial Quantity: <br><input type="number" ng-model='product.quantity' placeholder="quantity..."><br>
			<input class='button' type="submit" value="New Product" ng-click='newProduct()'>
		</form>
		
		<div ng-if='errors'>
			<h4 ng-repeat='error in errors' style='color:red;'>{{error.message}}</h4>
		</div>

	</div>

	<div id='center_margin'>
		<h3>All of the products</h3>
		
		<div class="product" ng-repeat='product in products'>
			<a href='#!/product/{{product._id}}'><img src="{{product.image}}" alt="{{product.name}}" height="120"></a>
			<p>{{product.name}}<br>{{product.quantity}} left</p>
		</div>

	</div>
</div>
